.menu .left::-webkit-scrollbar,
.menu .right::-webkit-scrollbar {
  width: 8px;
  background-color: white;
}

.menu .left::-webkit-scrollbar-thumb,
.menu .right::-webkit-scrollbar-thumb {
  background-color: #000;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.pointer {
  cursor: pointer;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.annonce a {
  font-size: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  font-style: italic;
  padding-bottom: 10px;
  color: white;
}

.annonce a:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.welcome {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 65px;
}

.welcome h1 {
  width: 45%;
  text-align: center;
  line-height: 75px;
}

.menu .left ul li {
  margin-top: 15px;
}

.menu .left ul .souslink {
  display: none;
}

.menu .right .boxRight {
  margin: 50px auto;
}

//---------------------Responsivité---------------------
@media screen and (min-width: 1700px) {
  .main {
    position: relative;
  }
  .nav,
  .overlay {
    position: absolute;
    left: 0;
  }
}

@media screen and (max-width: 1260px) {
  .nav {
    column-gap: 0;
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .nav .annonce a {
    font-size: 15px;
  }

  .logo a img {
    width: 5rem;
    height: 5rem;
  }

  .navbar img {
    width: 35px;
    height: 35px;
  }

  .welcome h1 {
    font-size: 50px;
    line-height: 45px;
  }

  .menu .left ul li a {
    font-size: 30px;
  }
}

@media screen and (max-width: 484px) {
  .welcome h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .nav {
    justify-content: space-around;
  }
}

@media screen and (max-width: 580px) {
  .menu {
    flex-direction: column;
  }

  .menu .left {
    padding-left: 2.5rem;
  }

  .menu .left ul li a {
    font-size: 25px;
  }

  .menu .right {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .nav {
    padding-left: 20px;
  }

  .nav .annonce {
    width: auto;
  }

  .nav .annonce a {
    font-size: 13px;
  }

  .welcome h1 {
    font-size: 30px;
    line-height: 45px;
  }

  .logo a img {
    width: 55px;
    height: 55px;
    padding-top: 20px;
  }

  .navbar img {
    width: 25px;
    height: 25px;
  }
}
